# Server
server/server

# Cluster Claimer
cluster-claimer/cluster-claimer

# Cluster Authenticator
cluster-authenticator/cluster-authenticator

# Client
client/node_modules/
client/.next/
client/out/

# OS
.DS_Store
server/.next/trace
server/.next/trace-build
client/app/firebase.ts
